
.content_left .background_menu
{
    height: 30px;
    margin-top: 20px;
    background-color: #656565;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px; 
    text-align: center
}
.content_left .background_menu_payment
{
    height: 25px;
    margin-top: 20px;
    background-color: #656565;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px; 
    text-align: center;
    padding-top: 5px
}
.content_right .submenu_right_confpayment
{
    border: 1px solid #cbcbcb;
    padding: 15px;
    margin-top: -10px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
}
.content_right .submenu_right_confpayment table
{
    margin: 0;
    padding: 0;
}
.content_right .submenu_right_confpayment table tr
{
    margin: 0;
    padding: 0;

}
.content_right .submenu_right_confpayment table tr td
{
    width: 155px;

    font-size: 12px;
    font-family: sans-serif;


}
.content_right .submenu_right_confpayment ul
{
    margin: 0;
    padding: 0;
}
.content_right .submenu_right_confpayment ul li img
{
    margin: 0;
    padding: 0;
    height: 206px;
    width: 189px;
}
.content_right .submenu_right_confpayment h3
{
    color: #00438d;
    text-align: center;
    font-size: 15px;
}
.content_right .submenu_right_confpayment p
{
    color: #32597a;
    text-align: center;
    font-size: 11px;
}
.content_right .submenu_right_confpayment .tombol
{
    margin-top: 172px;
    text-align: center;
}
.content_right .submenu_right_confpayment .tombol img
{
    height: 24px;
    width: 88px;
}
.content_right .submenu_right_confpayment .img_sort
{
    margin-bottom: 20px;
    text-align: center;
}
.content_right .submenu_right_confpayment .img_sort img
{
    margin-bottom: 10px;
    margin-right: 44px;
}

.content_right .submenu_right_confpayment .img_sort #img1a
{
    height: 58px;
    width: 67px;
    margin-bottom: -6px;
}

.content_right .submenu_right_confpayment .img_sort #img2a
{
    height: 30px;
    width: 41px;
    margin-bottom: 4px;
}
.content_right .submenu_right_confpayment .img_sort hr
{
    width: 292px;
    margin-left: 116px;
    border: 1px solid #3473ba;
    position: absolute;
    margin-top: 33px;
}
.submenu_right_confpayment input
{
    border: 1px solid #9cb2c9;
    margin-bottom: 5px;
    width: 159px
}
.submenu_right_confpayment select
{
    margin-bottom: 5px;
    background-color: white;
    border: 1px solid #9cb2c9;

}
