 .content_left .background_menu
    {
        height: 30px;
        background-color: #656565;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px; 
        text-align: center
    }
    .content_left li#home a
    {
        position: static;
        padding-top: 6px;
        margin-left: -10px;
        display: block
        
    }
     .content_left li#account a
     {
         position: static;
        padding-top: 6px;
        margin-left: -8px;
        display: block
     }
      .content_left li#progress a
     {
         position: static;
        padding-top: 6px;
        margin-left: -9px;
        display: block
     }
      .content_left li#shipment a
     {
         position: static;
        padding-top: 6px;
        margin-left: -8px;
        display: block
     }
      .content_left li#confpayment a
     {
         position: static;
        padding-top: 6px;
        margin-left: 0px;
        display: block
     }